* {
  margin: 0;
  padding: 0;
}

.pokemon-card {
  border: 1px solid blue;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  text-align: center;
}

#list-pokemons {
  display: flex;
  flex-wrap: wrap;
}
