* {
  margin: 0;
  padding: 0;
}

#main {
  margin: 0 10%;
  padding: 10px;
}

#div-main {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}

.pokemon-card {
  margin: 5px;
  border: 1px solid blue;
  border-radius: 5px;
  display: flex;
  width: 115px;
  height: 151px;
  padding: 5px;
  flex-direction: column;
  text-align: center;
}

#list-pokemons {
  display: flex;
  flex-wrap: wrap;
  width: 740px;
}

#list-pokemons .pokemon-card:hover {
  transform: scale(1.1); 
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

#pokemon-preview {
  width: 200px;
  height: fit-content;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  position: absolute;
}

#pokemon-preview {
  position: relative;
}

.move {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  margin: 1px;
}

#myChart {
  align-self: center;
}

.hp {
  color: #F64225;
}

.attack {
  color: #F08030;
}

.defense {
  color: #F8D030;
}

.special-attack {
  color: #6890F0;
}

.special-defense {
  color: #78C850;
}

.speed {
  color: #F55788;
}