* {
  margin: 0;
  padding: 0;
}

#header {

}

#main {
  margin: 0 10%;
  padding: 10px;
}

#div-main {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}

.pokemon-card {
  margin: 5px;
  border: 1px solid blue;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  flex-direction: column;
  text-align: center;
}

#list-pokemons {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

#list-pokemons .pokemon-card:hover {
  transform: scale(1.1); 
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

#pokemon-preview {
  width: 300px;
  height: fit-content;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  position: absolute;
}

#pokemon-preview {
  position: relative;
}
