* {
  border: 0;
  padding: 0;
}

body {
  background-color: #5ED7FD;
}

/* Cabeçalho */

#header {
}

#header h1, ul{
  margin: 0;
}

.nav-bar-horizontal span {
}

.nav-bar-horizontal li{
  display: inline-block;
}

/* Main block */

#main {
  min-width: 1029px;
}

.content {
  display: inline-block;
  width: 65%;
  min-width: 760px;
}

.about {
  height: 75%;
}

.container {
  clear: both;
}

.container-section {
  float: left;
  display: inline-block;
  bottom: 50%;
  text-align: center;
  width: 250px;
}

.container-section img{
  width: 145px;
  height: 100px;
}

.side-bar {
  display: inline-block;
  float: right;
  width: 24%;
}

.reference {
  float: left;
}

/* Footer */