@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 75vw;
}

.link {
  margin: 5px;
  background-color: transparent;
  border: 2px solid lightgrey;
  color: grey;
  text-decoration: none;
  box-shadow: 7px 5px 2px #3d3d3d;
  padding: 8px;
  transition: color 0.5s, box-shadow 0.5s, background 0.5s;
}

.link:hover {
  color: white;
  background-color: #3d3d3d;
  box-shadow: none;
}

.is-active {
  color: white;
  background-color: #3d3d3d;
  box-shadow: none;
}
