html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

li{
  text-decoration: none;
  list-style: none;
  padding: 0 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
}

header {
  margin-left: 0;
}

header {
  text-align: center;
  margin: 0;
}

header p {
  font-size: 2em;
}


