* {
  border: 0;
  padding: 0;
}

body {
  background-color: #5ED7FD;
  min-width: 1029px;
}

/* Cabeçalho */

#header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1129px;
}

#header h1, ul{
  margin: 0;
}

.nav-bar-horizontal li{
  border: 1px solid rgb(0, 107, 121);
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
}

.nav-bar-horizontal a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.nav-bar-horizontal li:hover {
  background-color: darkblue;
}

/* Main block */

.content h3{
  margin-bottom: 0px;
}

.content #about p {
  margin-top: 0;
  text-align: justify;
}

#main {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1129px;
}

.content {
  display: inline-block;
  width: 766px;
  min-width: 727px;
}

#about {
  height: 75%;
  padding-right: 5px;
}

.container {
  clear: both;
}

.container-article {
  margin: 0 1px;
  border-radius: 10px;
  border: 1px solid rgb(0, 134, 187);
  float: left;
  display: inline-block;
  bottom: 50%;
  text-align: center;
  width: 250px;
}

.container-article img{
  width: 145px;
  height: 100px;
}

.side-bar {
  display: inline-block;
  float: right;
  min-width: 250px;
}

/* information */

.inline-block{
  display: inline-block;
}

.information-tabular h3 {
  margin: 0;
}

.information-tabular h4 {

  margin: 0 0 10px 0;
}

.inline-block h4 {
  margin: 0px;
}

.information-tabular {
  border: 1px solid rgb(105, 105, 105);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.information-tabular td {
}

.left {
  text-align: left;
  padding-left: 5px;
}

.right {
  text-align: right;
  padding-right: 10px;
}

/* reference */

.reference {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
}

.reference li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.reference a {
  display: inline-block;
}

/* Footer */

#footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}