body {
font-size: 16px;
}

h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
}

p {
  font-weight: 600;
  font-size: 3em;
}

li {
   background-color: red;
}

.bg-color {
   background-color: blue;
}

.bg-amarelo {
  background-color: yellow;
}

.bg-vermelho {
  background-color: red;
}

.bg-marrom {
  background-color: brown;
}

.bg-amarelo, .bg-marrom, .bg-vermelho {
  font-style: italic;
  line-height: 2em;
  text-align: center;
  text-decoration: line-through;
}